LABEL haifa
TEXT HELP
Boot the Haifa OS live medium on BIOS.
It allows you to install Haifa OS or perform system maintenance.
ENDTEXT
MENU LABEL Haifa OS Live Medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL haifaspeech
TEXT HELP
Boot the Haifa OS live medium on BIOS with speakup screen reader.
It allows you to install Haifa OS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Haifa OS Live Medium (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
