[Unit]
Description=Create live user for Haifa OS live session
Before=sddm.service
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/liveuser-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
